body {
    margin: 0;
    min-height: 100vh;

    background-color: #efefef;
    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.container {
    width: 800px;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.judul {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.judul h1 {
    margin: 0;
}

.profile {
    display: flex;
    align-items: center;
}

.biodata {
    flex: 1;
}

.gambar {
    flex: 1;
    display: flex;
    justify-content: center;
}

.gambar img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.cv {
    margin-top: 50px;
}

.tentang_saya,
.pendidikan {
    padding: 20px;
    margin-bottom: 20px;

    background-color: #f5f5f5;
    border-radius: 12px;
}

.tentang_saya h2,
.pendidikan h2 {
    margin-top: 0;
}

.tentang_saya p,
.pendidikan p {
    line-height: 1.7;
    text-align: justify;
}